:root {
    --y-gap: 10px;
    --x-gap: 10px;
}

/* Server Banner */

.TeamPageNavV3-container {
    background: #1e2025;
}

.TeamPageNavV3-container-desktop .TeamPageNavV3-nav-contents {
    margin: var(--y-gap) var(--x-gap);
    border-radius: 5px;
}

.TeamPageNavV3-header {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: var(--y-gap);
}

/* Channel List */

.TeamPageNavV3-container-desktop .TeamPageNavV3-nav-sections {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Custom Gradient Channel Selection */
.TeamChannelItemContents-container-selected, .TeamNavSectionItem-container-selected {
    background: linear-gradient(90deg, #5B86E5, #36D1DC);
}

/* Override the style not taking the white for the svg */
.ChannelIcon-container.ChannelIcon-icon-size-xs.ChannelIcon-icon-selected.TeamChannelItemContents-icon .ChannelIcon-icon-primary {
    fill: #fff;
}

/* User Panel */

.NavV4Footer-container {
    background: #1e2025;
    padding-bottom: var(--y-gap);
}

.NavV4Footer-footer-content {
    background: none;
}

.NavV4Footer-right {
    border-radius: 5px;
    margin: 0 var(--x-gap);
}

/* Main Chat Area */

.ChannelWrapper-content, .ChannelWrapper-contents {
    /* This fixes the background missing from other places, but disables the neat panel effect on text area of the chat input */
    /* background: #373943; */
}

.LayeredPageContent-content {
    margin: var(--y-gap) 0 0;
    border-radius: 5px;
    background: none;
}

.ChannelWrapper-container-desktop:not(.ChannelWrapper-container-full-height) {
    height: auto;
}

.ChannelWrapper-container-with-sidebar .ChannelWrapper-contents {
    padding-right: 0;
}

.ChatChannelMessages-container {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #373943;
}

.ChatChannelMessagesList-messages {
    padding-bottom: 8px;
}

/* Message Input Area */

.ChatChannelInputStatusDrawer-container {
    padding: 0;
}

.TypeaheadDrawer-container {
    border-radius: 5px;
    overflow: hidden;
}

.SlateInsertToolbar-container:after {
    content: none;
}

.ChatChannelInput-container {
    padding: 0;
    min-height: 0;
    flex-shrink: 0;
    position: relative;
    margin: calc(var(--y-gap) + 1px) 0;
}

.ChatChannelInputFooter-container {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.ChatChannelInputTypingIndicator-container {
    padding-left: 15px;
}

/* Overview Page */

.TeamPageContent-container {
    min-height: 0;
}

.TeamPageContent-content {
    margin-right: 0;
}

/* Member List Area */

.PageSidebarWrapper-container {
    margin: var(--y-gap) var(--x-gap);
    border-radius: 5px;
    position: static;
}

.SidebarWrapper-container {
    padding: 12px 5px 0;
}

.SimpleIconTabMenu-header {
    margin-bottom: 5px;
}

.SidebarInfoItem-container {
    margin-bottom: 5px;
}